doctype html
html
  head
    title #{title}
    link(rel="stylesheet", href="/styles.css")
    script(src="https://unpkg.com/htmx.org@1.9.12")
    //- hx-boost allows us to use href rather than having to do the following bellow
    //- hx-get hx-target="body" hx-push-url="true"
  body(hx-boost="true")
    header
      nav
        img(src="/shuriken.png")
        h1 Demo of HTMX SPA / Single Page Application
    //- Tell htmx only to swap content in the scope of this div - ignore stuff outside of it
    div(hx-history-elt)
      block content
