extends layouts/layout

block content
  main
    h2 All Articles
    // pug uses divs as default tag when one isn't specified
    .article-list
  footer
    h2 Add a New Article
    //- form here later
